.models-page {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    /* min-height: 100vh;  */
    width: 100%;
    flex-wrap: wrap;
    background-color: aliceblue;
    background: url('../img/фон.png');
    gap: 20px;
    padding: 20px;
}

.title {
    width: 100%;
    font-family: "Montserrat", serif;
    font-size: 50px;
    text-align: center;
    margin: 0; 
    margin-bottom: 20px; 

}

.polosa {
    width: 70%; /* Длина полосы */
    height: 4px; /* Толщина полосы */
    margin: 0 auto; /* Центрирование и отступ снизу */
    background-color: rgba(197, 55, 32, 1); /* Оранжевый цвет */
    border: none; /* Убираем стандартную рамку у hr */
}

.model-list {
    display: flex;
    flex-direction: row; /* Ряд с элементами */
    align-items: center;
    justify-content: center; /* Горизонтальное центрирование */
    text-align: center;
    width: 70%;
    gap: 20px; /* Расстояние между моделями */
}

.model-item {
    width: 200px;
    height: 100px;
    font-family: "Montserrat", serif;
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
}

.model-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }